

#map{
    height: 500px;
}

.contenu{
    margin-top: 40px;
    height: 550px;
}

.entete{
    padding-top: 20px;
}

body{
    padding-left: 10px;
    padding-right: 10px;
    background: #78c0ff;
}

